.scroll-container {
  height: 300vh;
  background-color: #000;
}

.sticky-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.animation-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.basket {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.1s linear;
  z-index: 1;
}

.basket-img {
  width: 600px;
  height: auto;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.1s linear;
  z-index: 2;
}

.icon-img {
  width: 120px;
  height: 120px;
}