aside.closed {
  width: 60px;
}

.main-wrapper.sidebar-closed {
  margin-left: 60px; 
  width: calc(100% - 60px);
}
aside.closed .logo {
  display: block;
  opacity: 1;
  visibility: visible;
  width: 40px; 
  height: auto;
}

aside .logo {
  display: block;
}
aside.closed .t,
aside.closed .line,
aside.closed .image-container {
  display: none;
}

aside.closed .logo,
aside.closed .burgermenu {
  display: block; 
}

